[defaults]

# Ansible role search path
roles_path = ./roles

# Disable SSH host key checking
host_key_checking = False

# Disable deprecation messages
deprecation_warnings = False

# Do not create retry files
retry_files_enabled = False

# Output format for AWX logs
stdout_callback = yaml

# SSH timeout
timeout = 30


[ssh_connection]

# Improve SSH execution speed
pipelining = True
